{% extends "index.twig" %}

{% block navItems %}
{% for entry in navigation %}
    <li><a href="/show/{{entry.module}}">{{entry.title}}</a></li>
{% endfor %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="span6">
        <h2>Analyzers</h2>
        <ul class="summaries unstyled">
        {% for module in summaries %}
            <li>
                <h3>
                    <a href="/show/{{module.module}}">{{module.title}}</a>
                </h3>
                <p>{{module.text}}</p>
            </li>
        {% endfor %}
    </div>
    <div class="span6">
        <h2>Annotations</h2>
        <ul class="annotation-groups unstyled">
        {% for type, stats in annotations %}
            <li>
                <h3>{{type}} ({{stats.count}})</h3>
                {% if stats.details %}
                    <ul class="files">
                    {% for file, fileAnnotations in stats.details %}
                        <li>
                            <a href="/source/{{file}}">{{file}}</a>
                            <a href="#" onClick="$( '#file-{{hash(file)}}' ).toggle()">
                                <span class="badge badge-error">
                                    {{fileAnnotations|length}}
                                </span>
                            </a>
                            <ul class="annotations" style="display: none;" id="file-{{hash(file)}}">
                            {% for annotation in fileAnnotations %}
                                <li>
                                    <a href="/source/{{file}}#line_{{annotation.line}}">
                                        <span class="analyzer">[{{annotation.type}}]</span>
                                        <span class="message">{{annotation.message}}</span>
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
