<div class="well form-search">
    <select name="{{name}}" class="search-query" style="width: 50%">
    {% for id, metric in metrics %}
        <option {% if id == cloud.selected %}selected="selected"{% endif %} value="{{id}}">{{metric}}</option>
    {% endfor %}
    </select>
    <button type="submit" class="btn">Show</button>
</div>

<ul class="nav nav-tabs" id="{{name}}-tabs">
    <li class="active"><a href="#{{name}}-tagcloud" data-toggle="tab">Tag cloud</a></li>
    <li><a href="#{{name}}-table" data-toggle="tab">Table</a></li>
</ul>
     
<div class="tab-content">
    <div class="tab-pane active" id="{{name}}-tagcloud">
        <ul class="tagcloud">
        {% for item, metric in cloud.items %}
            <li style="font-size: {{( metric.value / cloud.max * 70 ) + 30}}%;">
                <a href="/source/{{metric.file}}#line_{{metric.line}}" title="{{item}}: {{metric.value}}">
                    {{item}}
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="tab-pane" id="{{name}}-table">
        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th>Class</th>
                <th>{{cloud.name}}</th>
            </tr>
            {% for item, metric in top %}
            <tr>
                <td><a href="/source/{{metrics.file}}#line_{{metrics.line}}" title="{{item}}: {{metrics[cloud.selected]}}">{{item}}</a></td>
                <td class="number">{{metric.value}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

