<div class="well form-search">
    <select name="{{name}}" class="search-query" style="width: 50%">
    {% for id, metric in metrics %}
        <option {% if id == cloud.selected %}selected="selected"{% endif %} value="{{id}}">{{metric}}</option>
    {% endfor %}
    </select>
    <button type="submit" class="btn">Show</button>
</div>

<ul class="nav nav-tabs" id="{{name}}-tabs">
    <li class="active"><a href="#{{name}}-tagcloud" data-toggle="tab">Tag cloud</a></li>
    <li><a href="#{{name}}-table" data-toggle="tab">Table</a></li>
    <li><a href="#{{name}}-chart" data-toggle="tab">Chart</a></li>
</ul>
     
<div class="tab-content">
    <div class="tab-pane active" id="{{name}}-tagcloud">
        <ul class="tagcloud">
        {% for item, metric in cloud.items %}
            <li style="font-size: {{( metric.value / cloud.max * 70 ) + 30}}%;">
                <a class="{{name}}" href="/source/{{metric.file}}#line_{{metric.line}}" title="{{item}}: {{metric.value}}"
                    >{{item}}</a
                ><a class="annotate" data-file="{{metric.file}}" data-line="{{metric.line}}" data-reason="{{cloud.name}}" href="#">+</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="tab-pane" id="{{name}}-table">
        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th>Class</th>
                <th>{{cloud.name}}</th>
            </tr>
            {% for item, metric in top %}
            <tr>
                <td>
                    <a class="{{name}}" href="/source/{{metric.file}}#line_{{metric.line}}" title="{{item}}: {{metric.value}}" data-file="{{metric.file}}">{{item}}</a
                    ><a class="annotate" data-file="{{metric.file}}" data-line="{{metric.line}}" data-reason="{{cloud.name}}" href="#">+</a>
                </td>
                <td class="number">{{metric.value|number_format(2)}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="tab-pane" id="{{name}}-chart">
        <object class="graph" type="image/svg+xml" data="/show/pdepend?chart={{name}}&amp;metric={{cloud.selected}}" width="600" height="350">
            You need an SVG enabled browser to see this.
        </object>
    </div>
</div>

